<style>
  body {
    margin-top: 5px;
    padding: 0;
    width: 100%;
  }

  .options {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  #navbar {
    background-color: #273c75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }

  button {
    border: 0.3vh solid #273c75;
    /* border-radius: 5%; */
    background-color: #273c75;
  }
  button:hover a {
    background-color: white;
    color: black;
    padding: 12px;
  }
  #phone {
    /* margin-left: 70%; */
    font-size: large;
    padding-top: 2%;
  }
  #location {
    /* margin-left: 70%; */
    font-size: large;
    padding-top: 1%;
    color: black;
  }
  i {
    color: black;
  }

  #locations {
    color: black;
  }
  #Home {
    width: 6%;
  }
  #User {
    width: 6%;
  }

  .footer {
    background-color: #2d3436;
    color: white;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .thanks-contaoner {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    /* background-color: #273c75; */
    border: 2px solid #273c75;
    color: green;
    width: 33%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px #c5cccec2;
  }
</style>
<head>
  <script
    src="https://kit.fontawesome.com/cde8601e7e.js"
    crossorigin="anonymous"
  ></script>
</head>
<center><h1>Dr. Tooth Care</h1></center>
<div id="navbar">
  <button class="options" id="services">
    <a href="/services">Our Services</a>
  </button>
  <button class="options" id="Appointment">
    <a href="/appointment">Appointment</a>
  </button>
  <button class="options" id="User"><a href="/user">Bookings</a></button>
  <button class="options" id="Home"><a href="/">Logout</a></button>
</div>

<div class="thanks-contaoner">
  <h2>
    THANK YOU <br />
    <br />
    APPOINTMENT IS BOOKED
  </h2>
</div>

<div class="footer">
  <center>
    <div id="phone">
      <i class="fa-solid fa-phone" style="color: white"></i
      ><span> &nbsp; 7032123567</span>
    </div>
    <div id="location">
      <a href="#" id="locations"
        ><i class="fa-solid fa-location-dot" style="color: white"></i>&nbsp;
        &nbsp;<span style="color: white"> Dr. Tooth Care </span></a
      >
    </div>

    <p>Dr. Tooth Care Dental Clinic, Lb Nagar, Hyderabad, Telanagana 500088</p>
  </center>
</div>
