<style>
  body {
    margin-top: 10px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .options {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  #navbar {
    background-color: #273c75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .logo {
    margin-left: 1%;
  }
  button {
    background-color: white;
    border: 0.3vh solid white;
    border-radius: 5px;
  }

  li {
    list-style: none;
  }
  #ServiceContainer {
    background-color: rgba(0, 0, 0, 0.238);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid rgb(6, 152, 225);
  }
  i {
    color: black;
  }
  #location {
    color: black;

    font-size: large;
    padding-top: 1%;
  }
  #locations {
    color: black;
  }

  #communication {
    color: black;

    height: 20%;

    color: black;
  }
  #phone {
    font-size: large;
    padding-top: 2%;
  }

  .details {
    width: 200px;
    height: 25px;
  }
  .sec {
    display: flex;
  }
  button {
    border: 0.3vh solid #273c75;
    /* border-radius: 5%; */
    background-color: #273c75;
  }
  button:hover a {
    background-color: white;
    color: black;
    padding: 12px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .messege {
    width: 300px;
    height: 150px;
  }
  .gap {
    margin: 30px;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: 5px 0px 5px 5px rgba(202, 200, 200, 0.875);
    width: 300px;
    height: 310px;
  }
  #phone {
    font-size: large;
    padding-top: 2%;
  }
  #location {
    font-size: large;
    padding-top: 1%;
    color: black;
  }
  i {
    color: black;
  }

  #locations {
    color: black;
  }
  #Home {
    width: 6%;
  }
  #User {
    width: 6%;
  }
  .footer {
    background-color: #2d3436;
    color: white;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .block {
    display: flex;
    justify-content: space-around;
  }
</style>
<head>
  <script
    src="https://kit.fontawesome.com/cde8601e7e.js"
    crossorigin="anonymous"
  ></script>
</head>
<center><h1>Dr Tooth Care</h1></center>
<div id="navbar">
  <button class="options" id="services">
    <a href="/services">Our Services</a>
  </button>
  <button class="options" id="Appointment">
    <a href="/appointment">Appointment</a>
  </button>
  <button class="options" id="User"><a href="/user">Bookings</a></button>
  <button class="options" id="Home"><a href="/">Logout</a></button>
</div>
<div
  class="row row-cols-1 row-cols-md-4 g-2 block"
  style="width: 100%; height: 400px"
>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/VjoLFWVsjN2GBFa3_Rf7BJ2FgObGXSqg1mnLz2m3MzA/rs:fit:1200:1108:1/g:ce/aHR0cHM6Ly93d3cu/Y2hhcG5pY2tkZW50/YWwuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDE4LzA2L2Rl/bnRpc3RfY2hhcG5p/Y2tfZ2VuZXJhbF9k/ZW50aXN0cnlfYmFy/cmllXzcuanBn"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">GENERAL DENTISTRY</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/wS9C3dtb0HCU0CFT9sK7_uTRxfKHqWk7Dz6nuCWyrFs/rs:fit:632:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5E/MjUxUGZlTEQydnc1/aWhiRXU4UWhnSGFG/aiZwaWQ9QXBp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">DENTAL IMPLANTS</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/4hXaT7yh8g_bUPJHcd6Wv7A_tUipFTbFGQVU4Q91BzQ/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5J/LV9CMm82M25YTzFl/emdBTGJIWjV3SGFF/OCZwaWQ9QXBp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">COSMIC DENTISTRY BRIDGES</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="row row-cols-1 row-cols-md-4 g-4 block"
  style="width: 100%; height: 400px"
>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/Ik0tkfP_2mFOtDg937oP_4pIc5SiyrQTO1-9W3vh3vo/rs:fit:772:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5I/NGtTelk0clhob0xG/RmlqMzhZbjhRSGFF/aiZwaWQ9QXBp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">ROOT CANAL TREATMENT</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/4gpPvZ5nbKi6LS9HRUC69dFFfz3CS_ZS1UyR9j3vH94/rs:fit:847:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5r/MnQ5OHRiSmZCZC16/NlFPSXkzV3BRSGFF/SiZwaWQ9QXBp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">EARLY CHILDHOOD CARIES</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col gap">
    <div class="card" style="width: 18rem">
      <img
        src="https://imgs.search.brave.com/gMEAJ-l9tSp9dxWAuxpKxWeguY7A45uOctYg-TpFR7Y/rs:fit:800:600:1/g:ce/aHR0cHM6Ly9zaGFu/dGlkZW50YWxzLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/OS8xMi9mdWxsLW1v/dXRoLXJlaGFiaWxp/dGF0aW9uLTEuanBn"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body messege">
        <h5 class="card-title">FULL MONTH REHAB</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <center>
    <div id="phone">
      <i class="fa-solid fa-phone" style="color: white"></i
      ><span> &nbsp; 7032123567</span>
    </div>
    <div id="location">
      <a href="#" id="locations"
        ><i class="fa-solid fa-location-dot" style="color: white"></i>&nbsp;
        &nbsp;<span style="color: white"> Dr. Tooth Care </span></a
      >
    </div>

    <p>Dr. Tooth Care Dental Clinic, Lb Nagar, Hyderabad, Telanagana 500088</p>
  </center>
</div>
