<style>
  body {
    margin-top: 10px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .sign-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px #273c75 solid;
    width: 40%;
    margin: auto;
    border-radius: 10px;
  }

  .signupForm {
    background-color: rgba(183, 180, 180, 0.131);
    margin-top: 3vh;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  #submitButton {
    border: 2px solid #273c75;
    color: black;
    width: 20%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    background-color: #273c75;
    color: white;
    font-weight: bold;
  }

  input {
    width: 200px;
    height: 25px;
    border: 0.3vh solid #273c75;
  }
  .options {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  #navbar {
    background-color: #273c75;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 99%;
    margin: auto;
  }
  .logo {
    margin-left: 1%;
    color: black;
    font-weight: bold;
    font-style: italic;
    background-color: aqua;
  }
  button {
    border: 0.3vh solid #273c75;
    /* border-radius: 5%; */
    background-color: #273c75;
  }
  button:hover a {
    background-color: white;
    color: black;
    padding: 12px;
  }
  #phone {
    /* margin-left: 70%; */
    font-size: large;
    padding-top: 2%;
  }
  #location {
    /* margin-left: 70%; */
    font-size: large;
    padding-top: 1%;
    color: black;
  }
  i {
    color: black;
  }

  #locations {
    color: black;
  }
  #Home {
    width: 6%;
  }
  #User {
    width: 6%;
  }

  .footer {
    background-color: #2d3436;
    color: white;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  h3 {
    padding-top: 15px;
    color: red;
  }
  p {
    color: red;
    padding: 5px;
    font-weight: bold;
  }
</style>

<head>
  <script
    src="https://kit.fontawesome.com/cde8601e7e.js"
    crossorigin="anonymous"
  ></script>
</head>
<center><h1>Dr Tooth Care</h1></center>
<div id="navbar">
  <button class="options" id="services">
    <a href="/services">Our Services</a>
  </button>
  <button class="options" id="Appointment">
    <a href="/appointment">Appointment</a>
  </button>
  <button class="options" id="User"><a href="/user">Bookings</a></button>
  <button class="options" id="Home"><a href="/">Login</a></button>
</div>

<form action="/signupLogin" method="post">
  <center><h3>SignUp form</h3></center>

  <div class="signupForm sign-container">
    <label><i class="fa-solid fa-user"></i></label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="off"
      minlength="5"
      placeholder="Username"
    />
    <br /><label><i class="fa-solid fa-envelope"></i></label>
    <input
      type="email"
      id="email"
      name="email"
      autocomplete="off"
      placeholder="Email Id"
    />
    <br />
    <label><i class="fa-solid fa-mobile-screen-button"></i></label>
    <input
      type="text"
      id="mobile_number"
      name="mobile_number"
      autocomplete="off"
      placeholder="Mobile Number"
    />
    <br /><label><i class="fa-solid fa-unlock"></i></label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="off"
      placeholder="Password"
    />
    <br />
    <input type="submit" id="submitButton" />

    <p>Remember User name and password to login</p>
  </div>
</form>

<div class="footer">
  <center>
    <div id="phone">
      <i class="fa-solid fa-phone" style="color: white"></i
      ><span> &nbsp; 7032123567</span>
    </div>
    <div id="location">
      <a href="#" id="locations"
        ><i class="fa-solid fa-location-dot" style="color: white"></i>&nbsp;
        &nbsp;<span style="color: white"> Dr. Tooth Care </span></a
      >
    </div>

    <p>Dr. Tooth Care Dental Clinic, Lb Nagar, Hyderabad, Telanagana 500088</p>
  </center>
</div>
