<style>


body {
        margin-top: 10px;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
      }


#profile{
    
    
}



.options {
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;
      }
a {
        text-decoration: none;
        font-weight: bold;
        color: white;
      }
#navbar {
        background-color: #273c75;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
      }

button {
        border: 0.3vh solid #273c75;
        /* border-radius: 5%; */
        background-color: #273c75;
      }
button:hover a {
        background-color: white;
        color: black;
        padding: 12px;
      }
   
#phone {
        /* margin-left: 70%; */
        font-size: large;
        padding-top: 2%;
      }
#location {
        /* margin-left: 70%; */
        font-size: large;
        padding-top: 1%;
        color: black;
      }
i {
        color: black;
      }

#locations {
        color: black;
      }
#Home {
        width: 6%;
      }
#User {
        width: 6%;
      }
     
.footer {
        background-color: #2d3436;
        color: white;
        font-weight: 500;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
}
table{
  
  margin:auto;
  margin-top: 30px;
  
}
tr{
  border: 1px black solid;
  margin: 5px;
}
td{
  padding: 8px;
    border: 1px black solid;

}
h3{
  margin-top: 20px;
  font-weight: bolder;
  color: #2d3436;
}



</style>
<head>
    <script src="https://kit.fontawesome.com/cde8601e7e.js" crossorigin="anonymous"></script>
</head>
<center><h1>Dr Tooth Care</h1></center>
    <div id="navbar">
      <button class="options" id="Services">
        <a href="/ourServices">Our Services</a>
      </button>
      <button class="options" id="Appointment">
        <a href="/appointment">Appointment</a>
      </button>
      <button class="options" id="User"><a href="/home">About</a></button>
      <button class="options" id="Home"><a href="/">Logout</a></button>
    </div>

<center><h3>Patient Details</h3></center>
<div id="profile">

  <table>
    <tr>
      <td><label >User Name:<label></td>
      <td><h6>{{user.username}}</h6></td>
    </tr>
    <tr>
      <td><label >Patient Name:</i></label></td>
      <td><h6>{{user.name}}</h6></td>
    </tr>
    
    <tr>
      <td><label>Patient Email:</i></label></td>
      <td><h6>{{user.email}}</h6></td>
    </tr>
    <tr>
      <td><label>Patient Mobile Number:</label></td>
      <td><h6>{{user.mobile}}</h6></td>
    </tr>
    <tr>
      <td><label >Booked Dates</label></td>
      <td>
        {{#each user.date}}
    <h6>{{this}}</h6>
    {{/each}}

      </td>
    </tr>
  </table>
    
</div>



<div class="footer">
      <center>
        <div id="phone">
          <i class="fa-solid fa-phone" style="color: white"></i
          ><span> &nbsp; 7032123567</span>
        </div>
        <div id="location">
          <a
            href="#"
            id="locations"
            ><i class="fa-solid fa-location-dot" style="color: white"></i>&nbsp;
            &nbsp;<span style="color: white"> Dr. Tooth Care </span></a
          >
        </div>

        <p>
          Dr. Tooth Care Dental Clinic, 
          Lb Nagar, Hyderabad, Telanagana 500088
        </p>
      </center>